@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&family=Handlee&family=Kalam:wght@300;400;700&family=Varela+Round&display=swap');
/* 
  Dosis
  Varela Round
  Kalam
  Handlee
*/

:root {
  --stone-light: #f5f5f4;

  --slate-light: #f1f5f9;
  --slate-mid: #475569;
  --slate-dark: #334155;

  --blue-mid: #0ea5e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  /* Angela Pham unsplash.com/@apham  */
  background-image: url(./images/background-picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* --slate-light used with opacity */
  background: linear-gradient(90deg, rgba(241, 245, 249, 0.8) 0%, rgba(241, 245, 249, 0.5) 30%,  rgba(241, 245, 249, 0.2) 60%, rgba(241, 245, 249, 0) 100%);

  width: 100vw;
  height: 10vh;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  margin-left: 100px;
}

.header h1 {
  font-family: 'Handlee', Arial, Helvetica, sans-serif;
  font-size: 45px;
  color: var(--blue-mid);
}

.nav-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 100%;
  margin-right: 200px;
}

.header ul {
  display: flex;
  gap: 40px;
  list-style: none;
  height: 100%;
  align-items: center;
}

.header li {
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
  color: var(--slate-mid);
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.header li:hover {
  color: var(--blue-mid);
}

.content {
  width: 100vw;
  height: 90vh;
}

.home,
.menu,
.aboutUs {
  width: 100%;
  height: 100%;
  /* Make transtion for everything to slide in */
}

.home {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
    "top top top top"
    "left hero content right"
    "bottom bottom bottom bottom";
}

.hero-div-home {
  grid-area: hero;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.hero-div-home h2 {
  font-family: 'Handlee', Arial, Helvetica, sans-serif;
  color: var(--slate-dark);
  font-size: 36px;
}

.hero-div-home p {
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  color: var(--slate-mid);
  font-size: 24px;
}

span.bold {
  font-family: 'Handlee', Arial, Helvetica, sans-serif;
  color: var(--blue-mid);
  font-weight: bold;
}

.content-div-home {
  grid-area: content;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 20px;

  border: 4px solid var(--stone-light);
  box-shadow: 0 0 12px -8px var(--slate-mid);
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(241, 245, 249, 0.9) 0%, rgba(241, 245, 249, 0.7) 40%,  rgba(241, 245, 249, 0.5) 60%, rgba(241, 245, 249, 0.2) 100%);
}

.content-div-home h2 {
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
  color: var(--blue-mid);
  font-size: 32px;
}

.content-div-home p {
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  color: var(--slate-mid);
  font-size: 16px;
  font-weight: 600;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu-div {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
  width: 50%;
  
  border: 4px solid var(--stone-light);
  box-shadow: 0 0 12px -8px var(--slate-mid);
  border-radius: 10px;
  border-top: none;
  background: linear-gradient(180deg, rgba(241, 245, 249, 0.9) 0%, rgba(241, 245, 249, 0.7) 40%,  rgba(241, 245, 249, 0.5) 60%, rgba(241, 245, 249, 0.2) 100%);
}

.cover-picture {
  width: 100.9%;
  height: 120px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.appetizer-cover {
  /* Quin Engle unsplash.com/@twistsandzests */
  background-image: url(images/appetizer-cover.jpg);
  
}

.main-course-cover {
  /* Lily Banse unsplash.com/@Ivanatikk */
  background-image: url(images/maincourse-cover.jpg);
}

.salad-cover {
  /* Sara Dubler unsplash.com/@ahungryblonde_ */
  background-image: url(images/salad-cover.jpg);
}

.drinks-cover {
  /* Kobby Mendez unsplash.com/@kobbymendez */
  background-image: url(images/drinks-cover.jpg);
}

.dessert-cover {
  /* Monika Grabkowska unsplash.com/@moniqa */
  background-image: url(images/dessert-cover.jpg);
} 

.main-menu-div h1 {
  margin-top: 35px;
  font-size: 40px;
  position: absolute;
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
  color: var(--slate-light);
  text-shadow: 3px 3px var(--slate-dark);
}

.item-div-menu {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--slate-mid);
  margin-bottom: 10px;
}

.item-div-menu h2 {
  font-family: 'Handlee', Arial, Helvetica, sans-serif;
  color: var(--slate-dark);
}

.item-div-menu p {
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  color: var(--slate-mid);
}

.item-div-menu h3 {
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
  color: var(--slate-dark);
}

.item-div-menu:last-of-type {
  border: none;
  margin: 0;
}

.aboutUs {
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr 2fr 2fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
    "top top top top top"
    "left review mid about right"
    "bottom bottom bottom bottom bottom";
}

.contact-div-aboutUs {
  grid-area: review;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 20px;

  border: 4px solid var(--stone-light);
  box-shadow: 0 0 12px -8px var(--slate-mid);
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(241, 245, 249, 0.9) 0%, rgba(241, 245, 249, 0.7) 40%,  rgba(241, 245, 249, 0.5) 60%, rgba(241, 245, 249, 0.2) 100%);
}

.contact-div-aboutUs h2 {
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
  color: var(--blue-mid);
  font-size: 36px;
  margin-bottom: 40px;
}

.contact-div-aboutUs h3 {
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: var(--slate-dark);
}

.contact-div-aboutUs h3:last-of-type {
  margin-bottom: 50px;
}

.contact-div-aboutUs p {
  font-family: 'Handlee', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--slate-mid);
}

.about-div-aboutUs {
  grid-area: about;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 30px;
  text-align: center;

  border: 4px solid var(--stone-light);
  box-shadow: 0 0 12px -8px var(--slate-mid);
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(241, 245, 249, 0.9) 0%, rgba(241, 245, 249, 0.7) 40%,  rgba(241, 245, 249, 0.5) 60%, rgba(241, 245, 249, 0.2) 100%);
}

.about-div-aboutUs h2 {
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
  color: var(--blue-mid);
  font-size: 36px;
  margin-bottom: 20px;
}

.about-div-aboutUs p {
  font-family: 'Handlee', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--slate-mid);
}

.about-div-aboutUs p:last-of-type {
  margin-top: 130px;
}

.about-div-aboutUs a {
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: var(--blue-mid);
}
